[General]
LogFile = /app/logs/anpr_events.log

[Paths]
ImageDirectory = /app/anpr_images

[CAM1]
Enabled = True
IPAddress = 192.168.1.108
Port = 37777
Username = admin
Password = your_password
Channel = 0

[CAM2]
Enabled = False
IPAddress = 192.168.1.109
Port = 37777
Username = admin
Password = your_password
Channel = 0
